:root{
    --black: #1a1a1a;
    --white: #f7f7f7;
    --grey: #e5e5e5;
    --greyDark: #B0B0B0;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--black);

    background-color: var(--white); 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    margin: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem 2rem;
    background: var(--black);
}

.navbar-main {
    padding: .5rem 2rem;
}

/* Logo */
.logo {
    cursor: pointer;
}

.logo a {
    text-decoration: none;
}
.logo-img{
    width: 50px;
}

.logo-text-main{
    display: inline;
    color: var(--black);
}

.logo-text{
    display: inline;
    color: var(--white);
}

/* Menu Icon */
.menu-icon {
    font-size: 36px;
    cursor: pointer;
    color: var(--white);
}

/* Nav menu */
.nav-list{
    position: absolute;
    top: 54px;
    right: 0;

    padding: 0 1rem;
    max-height: 0;
    background: var(--black);
    overflow: hidden;
    transition: max-height .2s ease-out, padding .2s ease-out;
}

.nav-list.active {
    max-height: 300px;
    padding: .5rem 1rem;
}

.nav-link {
    display: block;
    color: var(--white);
    text-decoration: none;
    padding: .5rem 1rem;
}

.nav-link .icon {
    vertical-align: sub;
}

/* Enter Button */
a.enter{
    /* Positioning */
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, 0);

    /* Styling */
    text-decoration: none;
    background: var(--black);
    border: 3px solid var(--black);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: .5rem 2.25rem;
    cursor: pointer;
    transition: background .2s ease-out;
}

a.enter:hover{
    background: none;
    color: var(--black);
}

/* Main Page Text */
.main-text {

    /* Positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Styling */
    width: 30vw;
    text-align: center;
}

.main-text>*{
    text-shadow: -1px -1px 1px lightgrey;
}

/* Banner */
.banner{
    display: block;
    width: 70%;
    margin: 2rem auto;
    box-shadow: 0 4px 6px 0 lightgrey;
}

/* About Section */
.about-title {
    font-size: 48px;
    text-align: center;
}

.about-title .icon {
    font-size: 48px;
}

.about-text {
    width: 60%;
    margin: 0 auto;
}

.copyright-text {
    text-align: center;
    width: 100%;
    
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Shop */
/* Card Section */
.card-grid {
    width: 70%;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
}
.card-link {
    text-decoration: none;
}
.card {
    box-shadow: 0 0 6px 1px lightgray;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .2s ease-out;
}

.card:hover {
    box-shadow: 0 0 6px 3px lightgray;
}

.card .img {
    width: 100%;
}

.card .name {
    margin: 0;
    margin-top: .5rem;
    color: var(--black);
}

.card .price {
    margin: 0;
    color: var(--black);
}

/* Item Page*/
.spacer {
    height: 100px;
    width: 100%;
}

main.item {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px auto;
}

figure#img-container {
    position: relative;
    width: 300px;
    margin: 0;
}

figure#img-container  img{
    width: 300px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
}

figure#img-container  .icon {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: .25rem;
}

figure#img-container  .icon:hover {
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

figure#img-container.expanded {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

figure#img-container.expanded .icon{
    position: absolute;
    top: calc(50% - 35vh + 15px);
    right: calc(50% - 35vh + 15px);
    z-index: 2;
}

figure#img-container.expanded img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vh;
}

.details {
    justify-self: start;
}

.details-title {
    margin: 0;
}

.details-numbers{
    margin-bottom: 2rem;
}

.details-numbers p {
    display: inline-block;
}

.details-numbers p:last-of-type{
    margin-left: 2rem;
}

.item-text {
    grid-column: 1/3;
    padding-top: 4rem;
}

/* Buttons */
.btn {
    text-decoration: none;
    font-style: italic;
    border: 2px solid var(--black);
    padding: .25rem 1rem;
    cursor: pointer;
    transition: background 150ms ease-out;
}

.btn-primary {
    color: var(--white);
    background-color: var(--black);
}

.btn-secondary {
    color: var(--black);
}

.btn:hover {
    color: var(--black);
    background: radial-gradient(var(--white),#1a1a1a20)
}

/* Add Item Page*/
.add-title {
    color: var(--white);
    margin: 0;
    transform: translate(-50%, 0)
}

form .add-modal {
    height: 60vh;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);

    padding: 1rem;
    box-sizing: border-box;

    display: none;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 6fr 1fr;
}

form .add-modal.currentPage {display: grid;}

form .form-title {
    text-align: center;
    font-weight: normal;
}

form .form-desc{
    text-align: center;
}

form .form-items {
    align-self: center;
}

form p.name, form p.price, form p.quantity {
    width: 70%;
    margin: 1rem auto;
    
    display: grid;
    grid-template-columns: auto auto;
}

form label{
    color: var(--greyDark);
    margin-right: 1rem;
    font-size: 1.15rem;
}

form input, form select {
    background: var(--grey);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    outline: none;
    width: calc(100% - 30px);
}

form textarea,  form .dropzone {
    border: 3px dashed var(--greyDark);
    border-radius: 10px;
    background-color: var(--white);
    padding: .5rem;
    margin: 1rem;
    outline: none;
}

form textarea {
    resize: none;
}

form .dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--greyDark);

    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px;
}

form .dropzone:hover {
    background-color: var(--grey);
}

form .dropzone .icon {
    font-size: 2rem;
}

form .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

form button i {
    width: 50px;
}

form button:disabled {
    cursor: not-allowed;
}

#addGraphic {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0)
}

form .img-review{
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form .img-review div.img-review-details {
    display: flex;
    justify-content: center;
}

form .img-review figure {
    margin: 0 1rem;
}

form .img-review figcaption {
    text-align: left;
}

form .img-review figcaption p {
    margin: 0;
}

form .img-review figcaption div{
   margin: 5px 0;
}

form .img-review figcaption .img-title {
    font-size: 1.5rem;
}

form .img-review figcaption .img-info {
    display: flex;
}

form .img-review figcaption .img-info p:last-of-type{
    margin-left: 15px;
}